body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    background: #FFF;
    
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

ul {
    list-style-type: none;
}
    /* навігація */
.header {
    /*padding: 24px 0;*/
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container-header {
    display: flex;
    align-items: center;
    /*justify-content: space-evenly;*/
    
}

.container-header.container,
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    display: flex;
    align-items: center;
}

.cont-list-link {
    display: flex;
    gap: 40px;
}

.cont-adress {
    display: flex;
    gap: 40px;
}

.logo,
.link-logo {
    margin-right: 76px;
    color:#4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.part-of-logo {
    color:#2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;

}

.light-part-of-logo{
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.adress {
    font-style: normal;
    margin-left: auto;
}
.link-adress {
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-adress:focus,
.link-adress:hover {
    color: #404BBF;
}

.link-nav {
    padding: 24px 0;
    display: block;
    text-decoration: none;
    color: #2E2F42;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

/*.link-nav:focus::after,
.link-nav:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
}*/

.current {
    color: #404bbf;
}
.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%; 
}

.link-nav:focus,
.link-nav:hover {
    color: #404BBF;
}

 /* ПЕРШИЙ БЛОК */
.section-title {
    background: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpeg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.title {
    margin-bottom: 48px;
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    line-height: 1.07;
    max-width: 496px;
    /*height: 120px;*/
    margin-left: auto;
    margin-right: auto; /*треба бо є width*/
}
.button {
    text-align: center;
    display: block;
    padding: 16px 32px;
    min-width: 169px; /*Для кнопки ми дивимося по макету і беремо найменшу кнопку,
        щоб всі інші якщо в них різний контент були однаковою шириною*/
    /*height: 56px;*/
    border: none;
    border-radius: 4px;
    background:#4D5AE5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#ffffff;
    margin: auto; /*треба бо є width*/
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:focus,
.button:hover {
    background:#404BBF;
}

/* ДРУГИЙ БЛОК БЕЗ НАЗВИ*/

.section-features {
    padding: 120px 0;
}

.visually-hidden,
.input-checkbox.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-list-item {
    width: calc((100% - 72px) / 4);
}

.container-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
    margin-bottom: 8px;
}
.features-title {
    margin-bottom: 8px;
    color:#2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}


.features-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* КОМАНДА */
.section-team {
    padding: 120px 0;
    background:#F4F4FD;
}

.team-title {
    margin-bottom: 72px;
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.conteiner-team {
    display: flex;
    gap: 24px;

}

.team-member-card {
    width: calc((100% - 3 * 24px) / 4);
    background:#FFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-member-info {
    padding: 32px 0;
}

.team-member {
    margin-bottom: 8px;
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.team-text {
    margin-bottom: 8px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-list-network {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-item-network {
    width: 40px;
    height: 40px;
}

.team-item-network-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.team-item-network-link:hover {
    background-color: #404bbf;
}

.team-item-network-link:focus {
    background-color: #404bbf;
}

.team-item-network-icon {
    fill: #F4F4FD;

}

/*ПОРТФОЛІО*/

.portfolio {
    padding: 120px 0;
}
.portfolio-title {
    margin-bottom: 72px;
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;

}

.conteiner-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.conteiner-portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.conteiner-portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.conteiner-portfolio-item:hover .overlay {
    transform: translateY(0%);
}

.portfolio-item-box {
    position: relative;
    overflow: hidden;
    }

.overlay {
    position: absolute;
    top: 0;
    color: #F4F4FD;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.portfolio-item-box:hover .overlay {
    transform: translateY(0);
}*/

.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.portfolio-type {
    margin-bottom: 8px;
    color:#2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.portfolio-text {
    letter-spacing: 0.02em;
    line-height: 1.5;
}
 /* ФУТЕР */
.footer {
    padding: 100px 0;
    background:#2E2F42;
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.cont-logo-text {
    margin-right: 120px;

}

.link-logo {

    display: inline-block; /* але може бути block*/
    margin-bottom: 16px;
}
.footer-text {
    width: 264px;
    color:#F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.cont-soc-media {
    margin-right: 80px;
}
.social-media {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.list-network {
    display: flex;
    gap: 16px;
}

.item-network {
    width: 40px;
    height: 40px;
}

.link-network {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-network:hover {
    background-color: #31d0aa;
}

.link-network:focus {
    background-color: #31d0aa;
}

.network-icon {
    fill: #F4F4FD
}

.text-subscribe {
    margin-bottom: 16px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.form {
    display: flex;
    gap: 24px;
}

.form-input {
width: 264px;
height: 40px;
background-color: transparent;
border-radius: 4px;
border: 1px solid #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
font-family: inherit;
color: #FFF;
font-size: 12px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.04em;
padding-left: 16px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

}

.form-input::placeholder {
color: #ffffff;
}

.button-input {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 165px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-input:focus,
.button-input:hover {
    background: #404BBF;
}

.icon-plane {
    margin-left: 16px;
}

.cont-for-modal {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.cont-for-modal.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.icon-cross {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-for-modal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.form-element-for-modal {
    margin-bottom: 8px;
}

.label-name {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.cont-input-icon {
    position: relative; 
}

.input-for-modal {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-for-modal:focus + .icon-person, 
.input-for-modal:focus {
    border-color: #4D5AE5;
    fill: #4D5AE5;
}

.icon-person {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.last-one-div {
    margin-bottom: 16px;
}

.textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
    border-color: #4D5AE5;
}

.div-for-checkbox {
    margin-bottom: 24px;
}

.label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    
}

.part-label-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.input-checkbox:checked + .label-checkbox > .part-label-checkbox {
    border: none;
    fill: #F4F4FD;
    background-color: #404BBF;
    border-color: #404BBF;

}

.link-policy {
    color: #4d5ae5;
    margin-left: 4px;
}

.button-last-one {
    margin: auto;
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}